/***************
COLOR VARIABLES
***************/
$text-gold: #eca900;
$text-gold-hover: #bd8700;
$text-common-black: #000;//#213632
$text-common-black-hover: #213632;
$text-white: #fff;
$text-grey: #707070;
$textplaceholder-grey: #c4c4c4;
$background-grey: #fafafa;
$background-input-grey: #f9f9f9;
$background-gold: #eca900;
$background-gold-button: #ffcd4f;
$background-gold-button-hover: #ffba0c;
$background-white: #fff;
$border-grey: #e6e6e6;
$check-logo-green: #64ea7e;
$cross-logo-red: #e52b50